@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-nowrap" asp-area="Identity" asp-page="/Account/Manage/Index" title="Zarządzaj">Witaj @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline m-0" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-nowrap">Wyloguj się</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-nowrap" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-nowrap" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>
    </li>
}